* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}
.background-img {
    background-image: url('images/photography/mp.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 10px;
    opacity: 75%;
}

.text {
    margin-top: 40px;
    text-align: center;
    align-items: center;
    font-size: 72px;
    color: black;
    justify-content: center;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 10px;

}
.container-xxxxlg{
    margin-top: 50px;
    margin-left: 100px;
}
.card-img-top{
    height: 300px;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}
.card-img-top:hover{
    opacity: 1;
}
@media (min-width: 200px) and (max-width: 500px){
    .container-xxxxlg{
        margin-left: 100px;
    }
}